<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>CSS Flag Project</title>
  <style>
    /* Write your CSS Code here */
    .flag {
      
      height: 600px;
      width: 900px;
      position: relative;
      background-color: crimson;

    }
    .flag > div {
      background-color: darkblue;
      height: 300px;
      width: 100%;
      position: absolute;
      top: 150px;
    }
    p {
      font-size: 5rem;
      color: white;
      text-align: center;
      padding: 0;
      margin: 0;
    }

    .flag>div div p {
      color: black;
    }





    
  </style>
</head>


<body>
  <div class="flag">
    <p>The Flag</p>
    <div>
      <div>
        <p>of Laos</p>
      </div>
    </div>
  </div>
</body>

</html
